---
// CallToActionSection.astro (Version française)
---

<!--Section Appel à l'Action-->
<section
  class="call-to-action-section"
  style="background-image:url(images/background/5.jpg)"
>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-md-9 col-sm-12 col-xs-12">
        <h2>
         Nos équipes techniques & commerciales sont à votre écoute pour toute étude, appel d’offres ou demande spécifique.
        </h2>
      </div>
      <div class="link-column col-md-3 col-sm-12 col-xs-12">
        <a class="apointment" href="/contact" data-toggle="modal" 
          >Contacter-Nous<span
            class="icon flaticon-arrow-pointing-to-right"></span></a
        >
      </div>
    </div>
  </div>
</section>

<!--Fin Section Appel à l'Action-->