---
// CareerSection.astro (Version française)
---

<!--Section Carrières-->
<section id="Rejoignez-l'équipe" class="career-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Colonne Vidéo-->
      <div class="video-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="image">
            <img src="images/resource/video-img.jpg" alt="Vidéo de présentation MACOBATE" />
            <a
              href="https://www.youtube.com/watch?v=kxPCFljwJws"
              class="lightbox-image play-btn"
            >
              <span class="icon flaticon-play-button-3"></span>
              Voir la vidéo
            </a>
          </div>
        </div>
      </div>
      <!--Colonne Contenu-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title">
            <h2>Rejoignez l'équipe <br /> MACOBATE</h2>
            <div class="separator centered"></div>
          </div>
          <div class="text">
            Nous recherchons constamment des talents passionnés et qualifiés pour renforcer nos équipes. MACOBATE offre un environnement de travail stimulant et des opportunités d'évolution dans un secteur en pleine croissance.
          </div>
          <ul class="list-style-one">
            <li>
              <strong>Ingénieurs & Techniciens</strong>Conception, calcul de structures, suivi de projets, automatisation...
            </li>
            <li>
              <strong>Experts en Fabrication</strong>Chaudronniers, soudeurs qualifiés, opérateurs sur machines à commande numérique...
            </li>
          </ul>
          <a class="see_all" href="career"
            >Voir tous les postes <span class="icon flaticon-right-arrow-1"
            ></span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!--Fin Section Carrières-->