---
// CareerSection.astro
---

<!--Career Section-->
<section class="career-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Video Column-->
      <div class="video-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="image">
            <img src="images/resource/video-img.jpg" alt="" />
            <a
              href="https://www.youtube.com/watch?v=kxPCFljwJws"
              class="lightbox-image play-btn"
            >
              <span class="icon flaticon-play-button-3"></span>
              Play Video
            </a>
          </div>
        </div>
      </div>
      <!--Content Column-->
      <div class="content-column col-md-6 col-sm-12 col-xs-12">
        <div class="inner-column">
          <div class="sec-title">
            <h2>Find Your Career at <br /> Metro.</h2>
            <div class="separator centered"></div>
          </div>
          <div class="text">
            Idea of denouncing pleasure and praising pain was born and I
            will give you a complete account of the system, and expound the
            actual teachings of the explorer truth, the master-builder of
            human happiness.
          </div>
          <ul class="list-style-one">
            <li>
              <strong>Assembler / Fabricator</strong>Assemblers and
              fabricators put together pieces...
            </li>
            <li>
              <strong>Quality Control Inspector</strong>Quality control
              inspectors examine materials and products...
            </li>
          </ul>
          <a class="see_all" href="#"
            >See All Positions <span class="icon flaticon-right-arrow-1"
            ></span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Career Section-->